<div class="nav_bar">
    <span class="nav_link"><%= link_to 'home',  :controller => "home", :action => "index"  %></span>
    <span class="menu_text">PROFILE</span>
    <span></span>
</div>

<div class="profile">
    <%= image_tag("/user_images/#{@user.icon_image_name}", :class => "user_icon") %>
    <div class="profile_name"><span class="profile_ttl">芸工ネーム</span><span class="profile_data"><%= @user.username %><span></div>
    <div class="profile_student_number"><span class="profile_ttl">学籍番号</span><span class="profile_data"><%= @user.student_number %><span></div> 
    <div class="profile_room"><span class="profile_ttl">部屋</span><span class="profile_data"><%= @user.location.room %><span></div>
    <div class="profile_comment"><span class="profile_ttl">コメント</span><span class="profile_data"><%= @user.comment %><span></div>
</div>

<% if current_user.id == @user.id %>
    <%= link_to(user_edit_path(id: current_user.id)) do %>
            <div class="edit_btn">edit</div>
    <% end %>
<% end %>
